html, body {
  height: 100%;
}

body {
  margin: 0px;
  margin-top: 20px;
  background: url(images/fishing-background-12.jpg)no-repeat 50% 50% fixed;
  background-position: 0 65px;
  -webkit-background-size: cover;

}

.header{
  width: 100%;
  height: 100%;
  margin-top: -27%;
  position: fixed;
}


.img {
  background-image: url(/Users/jamesrbillard/programs/code_fellows/code_201/lab_8/my-lab8/Cookie-stand1/images/woodbackground.jpg);
  border-bottom-style: solid;
  width: 100%;
  height: 25%;
  min-height: 253px;
  margin: 0px;
  margin-top: -21px;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1 {
  text-align: center;
}
.fish {
  width: 35%;
  margin-left: 32%;
  margin-top: 0%;
}
.wrapper {
  width: 100%;
  height: 100%;
  margin-top: 19%;
}
.aside {
  height: 90%;
  width: 4%;
  background-color: ;
  border-style: solid;
  border-radius: 5px;
  float: left;
}

.content {
  height: 90%;
  width: 95%;
  margin-left: 4.6%;
  margin-top: 1%;
  display: block;

}

td, th, tr {
  border-bottom-style: groove;
  text-align-last: center;
  font-size: 1.3vw;

}


th {
  background-color: rgba(48, 44, 44, 0.9);
  color: white
}

td {
  height: 20%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  width: 1000px;
}


table {

  border-collapse: collapse;
  overflow-y: scroll;
  margin-top: -63%;
  margin-left: 7.5%;
  display: block;
  width: 100%;
  float: right;

}

.form{
  margin-top: 29%;
}

.odd {
  background-color: rgba(61, 61, 59, 0.6);
  color: white;
  width: 100px;
}

.even {
  background-color: rgba(255, 255, 255, 0.6);;
  width: 100px;
}
