html, body {
  height: 100%;
}

body {
  background-image: url(/Users/jamesrbillard/programs/code_fellows/code_201/lab_7/Cookie-stand1/images/family.jpg);
}


.header {
  background-color: #AA3939;
  width: 99.5%;
  height: 25%;
  min-height: 160px;
  border-style: solid;
  border-color: #191f1d;
  border-radius: 5px;

}
h1 {
  text-align: center;
}
.fish {
  width: 20%;
  margin-left: 39%;
  margin-top: -2%
}
.wrapper {
  width: 100%;
  height: 100%;
}
.nav {
  height: 90%;
  width: 4%;
  background-color: #2D882D;
  border-style: solid;
  border-color: #191f1d;
  border-radius: 5px;
  float: left
}

.content {
  height: 90%;
  width: 95%;
  margin-left: 4.6%;
  margin-top: 1%;
  display: block;
  background-color: #25705A;
  border-style: solid;
  border-color: #191f1d;
  border-radius: 5px;

}

td, th, tr {
  border-bottom-style: groove;
  text-align-last: center;
  font-size: 1.3vw;
}

th {
  background-color: #efefef;
}


table {

  border-collapse: collapse;
  width: 84%;
  height: 38%;
  margin-top: 5%;
  margin-left: 15%;
  display: block
}

.odd {
  background-color: #efefef;
}

.even {
  background-color: white;
}
