html, body {
  height: 100%;
}


.header {
  background-color: #AA3939;
  width: 99.5%;
  height: 25%;
  border-style: solid;
  border-color: #191f1d;
  border-radius: 5px;

}

td, th {
  border-bottom-style: groove;
  text-align-last: center;
  font-size: 1em;
}

tr, th {
  border-bottom-style: : solid;
  background-color: #efefef;
}

table {
  border-collapse: collapse;
  width: 80%;
  height: 40%;
  margin-left: 10%;
  margin-right: 10%;
}
