
html, body {
  height: 100%;
}

body {
  background: url(images/fishing-background-12.jpg)no-repeat 50% 50% fixed;
  margin: 0;
  background-position: 0px 1px;
}
.header2 {
  width: 100%;
  height: 40%;
}

.header{
  width: 70%;
  margin-left: 15%;
  height: auto;
  border-style: solid;
  border-color: black;
  border-width: 5px;

}


.img {
  background-image: url(/Users/jamesrbillard/programs/code_fellows/code_201/lab_8/my-lab8/Cookie-stand1/images/woodbackground.jpg);
  width: 100%;
  height: 100%;
  margin: 0px;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1 {
  text-align: center;
  color: white;
  font-size: 7vw;
  font-family: 'Inconsolata', monospace
}
.fish {
  width: 35%;
  margin-left: 32%;
  margin-bottom: 15px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.contentaside{
  width: 70%;
  height: 100%;
  margin-top: -7px;
}

.aside {
  height: 100%;
    width: 20%;
    background-color: rgba(42, 44, 44, 0.5);
    border-style: solid;
    border-width: 2px;
    float: left;
    margin-left: 21.4%
}

.content {
  height: 100%;
  width: 80.3%;
  margin-left: 41.8%;
  margin-top: 7px;
  border-style: solid;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(42, 44, 44, 0.5);
}

}

td, th, tr {
  border-bottom-style: groove;
  text-align-last: center;
  font-size: 1.3vw;

}


th {
  background-color: rgba(48, 44, 44, 0.9);
  color: white;
  font-weight: bold;
}

td {
  height: 20%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  width: 1000px;
}


table {

  border-collapse: collapse;
  overflow-y: scroll;
  margin-left: -4.5%;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 66%;
  float: right;
}

.odd {
  background-color: rgba(61, 61, 59, 0.6);
  color: white;
  width: 100px;
}

.even {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100px;
  color: black;

}


form {
  display: flex;
  margin-top: 10px;
}


label{
  color: white;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;

}

.footer{
  width: 70%;
  height: auto;
  background-color: rgba(42, 44, 44, 0.5);
  border-style: solid;
  border-width: 2px;
  margin-left: 15%;
  height: auto;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

p {
  color: white;
  text-align: center;
  padding: 20px;
}
